.chat-page {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
  background-color: white;
  padding: 2em 4em;
  box-sizing: border-box; 
  overflow-x: hidden; 
  height: calc(100vh - 2em); 
}
@media (max-width: 1960px) {
  .chat-page {
    padding: 1em 2em;
  }
}

@media (max-width: 1440px) {
  .chat-page {
    flex-direction: column;
  }
}

.chat-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.chat-container {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  scroll-behavior: smooth;
}

.chat-input-fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border-top: 1px solid #ccc;
  z-index: 1000;
}

.chat-input-content {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.chat-field-input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  max-width: 480px;
}

.chat-button {
  padding: 0.75rem 1.5rem;
  max-width: 300px;
  height: 54px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: white;
  background-image: linear-gradient(-45deg, #f6d365, #fda085, #f6d365, #fda085);
  background-size: 300% 300%;
  animation: gradientAnimation 12s ease infinite;
}

.chat-button:hover {
  opacity: 0.8;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buywise-highlight {
  background-image: linear-gradient(-45deg, #073b63, #0a67ad, #073b63, #0a67ad);
  background-size: 300% 300%;
  animation: gradientAnimation 4s ease infinite;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  color: transparent; 
  display: inline; 
} 
