@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 90vh;
  text-align: left;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(-45deg, #f6c365, #fda085, #f6c365, #fda085);
  background-size: 300% 300%;
  animation: gradientAnimation 30s ease infinite;
}

.main-hero {
  padding: 6rem;
}

.highlight {
  background-image: linear-gradient(-45deg, #f6c365, #fda085, #f6c365, #fda085);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientAnimation 10s ease infinite;
}

.buywise-highlight {
  background-image: linear-gradient(-45deg, #073b63, #0a67ad, #073b63, #0a67ad);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;
  -webkit-background-clip: text; 
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline; 
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.main-content h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #213547;
    justify-content: center;
}

.main-content p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444;
    max-width: 600px;
}
/* 
.glass-card {
    background: rgba(255, 255, 255, 0.25); 
    border-radius: 16px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 2rem;
    max-width: 800px;
    margin: auto;
    text-align: center;
} */

.highlight-link {
    text-decoration: underline !important;
    cursor: pointer;
    font-weight: bold;
    color: #073b63
}


.highlight-link:hover {
    color: #0d6fbb;
}