.sidebar-past-chats {
  overflow-y: auto;
  margin: 1rem 0;
}

.sidebar-chat-history-title {
  text-align: center;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.sidebar-chat-message {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #555555;
  border-radius: 8px;
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.3s ease;
  cursor: pointer;
  gap: 1em;
}

.sidebar-chat-message:hover {
  background-color: #f1f1f1;
  color: #000;
}

.sidebar-chat-message.active {
  background-color: #f1f1f1;
  color: #000;
}

.sidebar-error {
  padding-top: 1em;
  color: red;
  font-size: 0.85rem;
}

.sidebar-chat-item-active {
  text-decoration: underline;
}