.sidebar {
  width: 260px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-y: auto;
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-items {
  height: 100%;
  display: flex;  
  flex-direction: column;
  justify-content: space-between;
}
.sidebar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-separator {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 1em 0em;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: #555555;
  text-decoration: none;
  transition: all 0.3s ease;
  margin: 0 0.5rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}

.sidebar-link:hover {
  background-color: #f1f1f1;
  color: #000000;
}

.sidebar-link.active {
  background-color: #f1f1f1;
  color: #000000;
}

.sidebar-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.75rem;
  color: inherit;
}

.sidebar-text {
  font-size: 1rem;
  font-weight: 400;
  color: inherit;
}

/* Auth Section at Bottom */
.sidebar-auth {
  padding-top: 1rem;
  border-top: 1px solid #e0e0e0;
  margin-top: auto;
}

.login-button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-image: linear-gradient(-45deg, #073b63, #0a67ad, #073b63, #0a67ad);
  background-size: 300% 300%;
  animation: gradientAnimation 10s ease infinite;  
  display: inline; 
  color: white;
  font-weight: 600;
}

.login-button:hover {
  opacity: 0.8;
}

.logout-button {
  width: 100%;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: #d32f2f;
  display: inline; 
  color: white;
  font-weight: 600;
}

.logout-button:hover {
  background-color: #9a0007;
}

.sidebar-user-name {
  padding-bottom: 1em;
}

.sidebar-user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.user-name {
  font-size: 0.95rem;
  font-weight: 500;
  text-align: center;
  color: #555555;
}

.spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #e0e0e0;
  border-top: 5px solid #1976d2;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}